*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Tahoma', sans-serif
}

:root{
  --color-background: #091540;
  --color-primary: #0462C0;
  --color-secondary: #ABD2FA;
}

body{
  background-color: #091540;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
}



